doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../css//styles.css')
    title Home page
  body
    header.base-header
      h1 Welcome To Secure User Auth App
    main.img-container
      .top
        img(src='../img/ai-generated-8639709_640.jpg', alt='')
        img(src='../img/ai-generated-8639710_640.jpg', alt='')
        img(src='../img/ai-generated-8639714_640.jpg', alt='')
      .bottom
        img(src='../img/ai-generated-8639718_640.jpg', alt='')
        img(src='../img/ai-generated-8639719_640.jpg', alt='')
        img(src='../img/boho-8400680_640.png', alt='')
    p.copyright
      | &copy; Copyright by Nour Ahmed. All rights reserved.