body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 65%;
  height: 500px;
  margin: 5% auto;
  padding: 30px;
  background-color: White;
  position: relative;
  border-radius: 9px;
  box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.internal {
  flex: 1;
  padding: 15px;
  position: relative;
  top: 100px;
  left: -160px;
}

.right-section {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
}

img {
  width: 350px;
  height: 450px;
}

.img-signin {
  width: 400px;
  height: 435px;
}

h1 {
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

.internal input[type="text"],
.internal input[type="email"],
.internal input[type="password"] {
  width: 100%;
  margin: 10px auto;
  padding: 10px 15px 10px 35px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
}

.internal input[type="text"]:focus,
.internal input[type="email"]:focus,
.internal input[type="password"]:focus {
  outline: none;
  background: none;
  box-shadow: none;
}

.internal input[type="text"]::selection,
.internal input[type="email"]::selection {
  background: transparent;
}

.checkbox {
  margin-top: 10px;
}

.checkbox .signin-terms {
  margin-left: 10px;
}

span {
  text-decoration: underline;
}

button {
  width: 35%;
  margin: 35px 0;
  padding: 20px;
  background-color: #007bff99;
  border: none;
  border-radius: 9px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: black;
}

i.fa-user {
  position: absolute;
  top: 8%;
  left: 5%;
}

i.fa-envelope {
  position: absolute;
  top: 22%;
  left: 5%;
}

i.fa-envelope.signin-email {
  position: absolute;
  top: 10%;
  left: 5%;
}

i.fa-lock {
  position: absolute;
  top: 36%;
  left: 5%;
}

i.fa-lock.signin-lock {
  position: absolute;
  top: 25%;
  left: 5%;
}

i.fa-lock-open {
  position: absolute;
  top: 50%;
  left: 5%;
}

.icons {
  margin-top: 30px;
}

i.fa-square-facebook,
i.fa-square-twitter,
i.fa-google {
  font-size: 32px;
  padding: 5px;
  cursor: pointer;
}

.alert {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border-radius: 5px;
  z-index: 1000;
  color: white;
  display: block;
  width: auto;
  max-width: 90%;
  text-align: center;
  display: block;
  width: 65%;
  font-size: 24px;
}

.alert-success {
  background-color: rgb(117 199 117);
}

.alert-error {
  background-color: rgb(247 151 151 / 79%);
}

.base-header h1 {
  text-transform: uppercase;
  position: relative;
}

.base-header h1 {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.base-header h1::before {
  content: "\2605";
  position: absolute;
  font-size: 20px;
  color: #383535;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
}

.img-container {
  position: relative;
  margin: 90px auto;
  height: auto;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(1, 1fr);
}

.img-container img {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.img-container::before,
.img-container::after {
  content: "";
  position: absolute;
  top: -2%;
  width: 40px;
  height: 1px;
  background-color: #383535;
}

.img-container::before {
  left: calc(50% - 50px);
}

.img-container::after {
  right: calc(50% - 50px);
}

.copyright {
  margin: -100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383535;
}
